Master/Services.Test/Service References/UploadPhotoServiceReference/true3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITI.Common.HotSpotsInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITI.Common.HotSpotsInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CapturedPicture">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageBytes" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapturedPicture" nillable="true" type="tns:CapturedPicture" />
</xs:schema>