Master/GeoBasedModule/Service References/LoginRegRevRateMgmtServiceProxy/LoginRegRevRateMgmtService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginRegRevRateMgmtService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54131/LoginRegRevRateMgmtService.svc/true?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54131/LoginRegRevRateMgmtService.svc/true?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54131/LoginRegRevRateMgmtService.svc/true?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
      <xsd:import schemaLocation="http://localhost:54131/LoginRegRevRateMgmtService.svc/true?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.DataContracts.DTOs" />
      <xsd:import schemaLocation="http://localhost:54131/LoginRegRevRateMgmtService.svc/true?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Domain.DataContracts" />
      <xsd:import schemaLocation="http://localhost:54131/LoginRegRevRateMgmtService.svc/true?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DistributedServices.Contracts" />
      <xsd:import schemaLocation="http://localhost:54131/LoginRegRevRateMgmtService.svc/true?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ITI.Common.HotSpotsInfo.CommonCotracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginRegRevRateMgmtService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="ILoginRegRevRateMgmtService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginRegRevRateMgmtService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="ILoginRegRevRateMgmtService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginRegRevRateMgmtService_Rate_InputMessage">
    <wsdl:part name="parameters" element="tns:Rate" />
  </wsdl:message>
  <wsdl:message name="ILoginRegRevRateMgmtService_Rate_OutputMessage">
    <wsdl:part name="parameters" element="tns:RateResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginRegRevRateMgmtService_PostReview_InputMessage">
    <wsdl:part name="parameters" element="tns:PostReview" />
  </wsdl:message>
  <wsdl:message name="ILoginRegRevRateMgmtService_PostReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostReviewResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginRegRevRateMgmtService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginRegRevRateMgmtService/RegisterUser" message="tns:ILoginRegRevRateMgmtService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginRegRevRateMgmtService/RegisterUserResponse" message="tns:ILoginRegRevRateMgmtService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginRegRevRateMgmtService/LogIn" message="tns:ILoginRegRevRateMgmtService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginRegRevRateMgmtService/LogInResponse" message="tns:ILoginRegRevRateMgmtService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginRegRevRateMgmtService/Rate" message="tns:ILoginRegRevRateMgmtService_Rate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginRegRevRateMgmtService/RateResponse" message="tns:ILoginRegRevRateMgmtService_Rate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostReview">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginRegRevRateMgmtService/PostReview" message="tns:ILoginRegRevRateMgmtService_PostReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginRegRevRateMgmtService/PostReviewResponse" message="tns:ILoginRegRevRateMgmtService_PostReview_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HttpEndpoint" type="tns:ILoginRegRevRateMgmtService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/ILoginRegRevRateMgmtService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/ILoginRegRevRateMgmtService/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rate">
      <soap:operation soapAction="http://tempuri.org/ILoginRegRevRateMgmtService/Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostReview">
      <soap:operation soapAction="http://tempuri.org/ILoginRegRevRateMgmtService/PostReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginRegRevRateMgmtService">
    <wsdl:port name="HttpEndpoint" binding="tns:HttpEndpoint">
      <soap:address location="http://localhost:54131/LoginRegRevRateMgmtService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>