Master/RateControl/RateControl/Service References/LoginRegRevRateMgmtServiceProxy/true3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DistributedServices.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DistributedServices.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogInResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isSucceeded" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogInResult" nillable="true" type="tns:LogInResult" />
  <xs:complexType name="RateInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="HOTSPOTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RATE" type="xs:double" />
      <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateInfo" nillable="true" type="tns:RateInfo" />
  <xs:complexType name="ReviewInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hotspotid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Userreview" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewInfo" nillable="true" type="tns:ReviewInfo" />
</xs:schema>