Master/RateControl/RateControl/Service References/LoginRegRevRateMgmtServiceProxy/true5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.DataContracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.DataContracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54131/LoginRegRevRateMgmtService.svc/true?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Domain.DataContracts" />
  <xs:complexType name="UserAuthInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preferred_Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.DataContracts" minOccurs="0" name="UserType" type="q1:UserTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAuthInfo" nillable="true" type="tns:UserAuthInfo" />
</xs:schema>